
@{
    ViewData["Title"] = "Access Denied";
}

<div class="d-flex flex-column flex-root">
	<!--begin::Error-->
	<div class="error error-3 d-flex flex-row-fluid bgi-size-cover bgi-position-center" style="background-image: url(assets/media/error/bg3.jpg);">
		<!--begin::Content-->
		<div class="px-10 px-md-30 py-10 py-md-0 d-flex flex-column justify-content-md-center">
			<p class="display-2 font-weight-boldest text-white mb-5">403</p>
			<p class="display-4 font-weight-boldest text-white mb-12">Access Denied</p>
			<p class="font-size-h1 font-weight-boldest text-dark-75">Unfotunately, you do not hame permission to view this page.</p>
			<p class="font-size-h4 line-height-md">There may be a misspelling in the URL entered,or the page you are looking for may no longer exist.</p>
		</div>
		<!--end::Content-->
	</div>
	<!--end::Error-->
</div>
